@media (max-width: 768px) {
    .formulir-service {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    textarea,
    .syarat,
    button {
        grid-column: span 1;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    background: #ffffff;
    color: #000;
    padding: 60px 20px;
}

h1 {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 50px;
}

.formulir-service {
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 60px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.formulir-service label {
    font-size: 14px;
    margin-bottom: 6px;
}

.formulir-service input[type="text"],
.formulir-service input[type="date"] {
    height: 42px;
    border-radius: 25px;
    border: 1.5px solid #999;
    padding: 0 18px;
    margin-bottom: 22px;
    outline: none;
    font-size: 14px;
}


.detail-kerusakan{
    display: grid;
}

.formulir-service input[readonly] {
    background: #f7f7f7;
}

.formulir-service textarea {
    grid-column: span 2;
    border-radius: 20px;
    border: 1.5px solid #999;
    padding: 0px 18px;
    font-size: 14px;
    resize: none;
    margin-top: 1px;
}

.sq {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 480px;
    font-size: 18px;
    justify-content: center;
    
}

.ketentuan{
    padding: 50px 50px;
    justify-content: centers;
    display: grid;
    align-items: center;
}

.syarat {
    justify-content: center;
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    align-items: center;
}

button {
    justify-content: center;
    align-items: center;
    margin: 40px auto 0;
    padding: 14px 40px;
    border-radius: 30px;
    border: none;
    background: #000;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #333;
}

