*, html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

@media (max-width: 900px) {
    .service-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .service-grid {
        grid-template-columns: 1fr;
    }
}
/* RESPONSIVE */
@media (max-width: 768px) {
    .hero-title {
        font-size: 32px;
    }

    .hero-subtitle {
        font-size: 14px;
    }

    .hero-buttons {
        flex-direction: column;
    }
}

.list-service-handphone{
    background: linear-gradient(to bottom, #000000 0%, #737373 52%);
    color: white;
}

.heading{
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 40px;
}

.list-service-handphone h2{
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 30px;
}


.list-kerusakan-hardware{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.item-hardware{
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  padding: 15px 600px;
  color: white;
  font-size: 20px;
}

.item input {
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.list-kerusakan-software{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.item-software{
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  padding: 15px 600px;
  color: white;
  font-size: 20px;
}

.item input {
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.button{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.btn1{
    display: inline-block;
    padding: 12px 26px;
    color: white;
    background: black;
    text-decoration: none;
    border: 2px solid white;
    font-weight: 600;
    cursor: pointer;
    transition: 0,2s;
    font-size: 14px;
}

.btn1:hover{
    background: white;
    color: black;
}
.btn2{
    padding: 12px 26px;
    background: white;
    color: black;
    text-decoration: none;
    border: 2px solid white;
    font-weight: 600;
    cursor: pointer;
    transition: 0,2s;
}

.btn2:hover{
    background: rgb(220,220,220);
}